body {
    background-image: linear-gradient(45deg, red 0%, white 60%, blue 100% )
} 
header {
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
} 
h1 {
    font-size: 400%;
    height: 4px;
    font-weight: bold;
    text-shadow: -3px -3px 6px yellow;
}
h2 {
    font-size: 500%;
    height: 50px;
    text-shadow: -3px -3px 6px yellow;
}
#zen-preamble {
    background-color: #d3e6f1;
    color: #333; 
    font-size: 30px;
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    border: 2px solid #007acc;
}

.preamble {
  margin: 30px auto; 
  max-width: 900px; 
  text-align: justify; 
}

