body {
    background-image: linear-gradient(45deg, red 0%, white 60%, blue 100% )
} 
h3 {
    text-align: center;
    background-color: red;
    color: white;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
} 
h1 {
    font-size: 400%;
    height: 4px;
    font-weight: bold;
    text-shadow: -3px -3px 6px yellow;
}
h2 {
    font-size: 500%;
    height: 50px;
    text-shadow: -3px -3px 6px yellow;
}
#zen-preamble {
    background-color: #d3e6f1;
    color: #333; 
    font-size: 30px;
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    border: 2px solid #007acc;
    margin: 50px auto; 
    max-width: 700px; 
    text-align: left; 
}
#zen-supporting {
    background-color: #d3e6f1;
    color: #000000; 
    font-size: 30px;
    padding: 30px; 
    box-shadow: 0 4px 6px rgb(47, 0, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2.2;
    border: 4px solid #0004ff;
    margin: 40px auto; 
    max-width: 90%; 
    text-align: left; 
    height: 600px; 
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden; 
}
#design-selection {
    position: absolute;
    top: 450px;
    left: 2px;
    display: block;
    width: 400px;
    height: auto;
    background-color: white;
    border: 4px dotted black;  
} 

