body {
    background-image: linear-gradient(45deg, red 0%, white 60%, blue 100% )
} 
header {
    text-align: center;
} 
h1 {
    font-size: 400%;
    height: 30px;
    font-weight: bold;
    text-shadow: -3px -3px 6px yellow;
}
h2 {
    font-size: 500%;
    height: 100px;
    text-shadow: -3px -3px 6px yellow;
}
