body {
    background-image: linear-gradient(150deg,red 0%, red 33%, white 33%, white 66%, red 66%, red 100% )
} 
h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 30px solid rgb(255, 255, 255);
    border-bottom: 30px dotted rgb(126, 255, 6);
    font-family: "Story Script", sans-serif;
    font-weight: 500;
    font-style: normal;
} 
h1 {
    font-size: 700%;
    height: 7px;
    font-weight: bold;
    color: brown;
}
h2 {
    font-size: 500%;
    height: 40px;
    text-shadow: -3px -3px 6px rgb(255, 136, 0);
}
h3 {
    text-align: center;
}
#zen-preamble {
    width: 900px; 
    height: 900px;
    background-color: #4CAF50; 
    color: white; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 90%; 
    text-align: center; 
    font-size: 16px; 
    text-align: left;
}
#zen-supporting {

}
#design-selection {

} 
#zen-resources {

}
footer {
   
} 
#design-archives {
 
} 
.border:hover {

}
#zen-summary {
    position: absolute;
    top: 350px;
    right: 9px;
    width: 460px;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}
h3:hover {
  text-decoration: underline;
  color: rgb(33, 255, 52);
}
p:hover {
    text-decoration: underline;
    font-size: 40px;
    background: rgb(243, 243, 243);
    color: black;
}