body {
    background-image: linear-gradient(150deg,red 0%, red 33%, white 33%, white 66%, red 66%, red 100% )
} 
h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 30px solid rgb(255, 255, 255);
    border-bottom: 30px dotted rgb(126, 255, 6);
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
} 
h1 {
    font-size: 700%;
    height: 7px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 500%;
    height: 40px;
    text-shadow: -3px -3px 6px rgb(255, 136, 0);
}
h3 {
    text-align: center;
}
#zen-preamble {
    width: 500px; 
    height: 500px;
    background-color: #4CAF50; 
    color: white; 
    display: fixed; 
    justify-content: center;
    align-items: center;
    border-radius: 90%; 
    text-align: center;  
    font-size: 20px;
}
#zen-supporting {
    background-color: #e8ffa8;
    color: #ff0606; 
    font-size: 40px;
    padding: 40px; 
    border-radius: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    border: 10px solid #07ffea;
    margin: 10px auto; 
    max-width: 700px; 
    text-align: left; 
}
#design-selection {
    width: 500px; 
    height: 500px;
    background-color: #6606ff; 
    color: white; 
    display: auto; 
    justify-content: center;
    align-items: center;
    border-radius: 60%; 
    text-align: center; 
    font-size: 16px; 
    text-align: left;
    position: absolute;
    top: 850px;
    right: 9px;
    width: 460px; 
    font-size: 20px;
} 
#zen-resources {
    width: 500px; 
    height: 500px;
    background-color: #ff9306; 
    color: white; 
    display: auto; 
    justify-content: center;
    align-items: center;
    border-radius: 60%; 
    text-align: center; 
    font-size: 16px; 
    text-align: center;
    position: absolute;
    bottom: -999px;
    left: -60px;
    width: 460px; 
    font-size: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    color: white;
    text-align: center;
    border: 10px solid #07ff28;
} 
#design-archives {
      width: 400px; 
    height: 500px;
    background-color: #ff1e00; 
    color: white; 
    display: auto; 
    justify-content: center;
    align-items: center;
    border-radius: 60%; 
    text-align: center; 
    font-size: 50px; 
    text-align: left;
    position: absolute;
    bottom: -160%;
    right: -40px;
    width: 460px; 
} 
#zen-summary {
    position: absolute;
    bottom: -420%;
    right: 9px;
    width: 460px;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}
h3:hover {
  text-decoration: underline;
  color: rgb(33, 255, 52);
}
p:hover {
    text-decoration: underline;
    font-size: 40px;
    background: rgb(243, 243, 243);
    color: black;
}
p {
    text-shadow: -5px -5px 6px rgb(230, 255, 4);
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}
li:hover {
    text-decoration: underline;
    font-size: 40px;
    background: rgb(243, 243, 243);
    color: black;
}
