body {
    background-image: linear-gradient(45deg,red 0%,red 33%, white 33%, white 66%, green 66%, green 100% )
} 
h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 30px solid black;
    border-bottom: 30px solid black;
    font-family: "Story Script", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #000000;
} 
h1 {
    font-size: 700%;
    height: 7px;
    font-weight: bold;
    color: brown;
}
h2 {
    font-size: 500%;
    height: 50px;
    text-shadow: -3px -3px 6px rgb(255, 136, 0);
}
#zen-preamble {

}
#zen-supporting {

}
#design-selection {

} 
#zen-resources {

}
footer {
   
} 
#design-archives {
 
} 
.border:hover {

}
#zen-summary {
    position: absolute;
    top: 310px;
    right: 7px;
    width: 450px;
    height: auto;
    background-color: black;
    border: 3px solid black; 
    color: aliceblue; 
}
h2:hover {
  text-decoration: underline;
  color: rgb(234, 250, 6);
}
